/* special font */
/* special color */
* {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, sans-serif;
  box-sizing: border-box;
  font-size: 14px; }

body {
  margin: 0; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

button {
  padding: 0;
  margin: 0; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

p {
  line-height: 1.4em; }

label {
  font-size: 14px; }

span {
  font-size: 12px; }

a {
  text-decoration: none;
  color: inherit; }

.text-center {
  text-align: center; }

.align-middle {
  vertical-align: middle; }

.align-top {
  vertical-align: top; }

.col-3 {
  float: left;
  width: 30%; }

.col-4 {
  float: left;
  width: 40%; }

.col-5 {
  float: left;
  width: 50%; }

.col-6 {
  float: left;
  width: 60%; }

.col-7 {
  float: left;
  width: 70%; }

.container {
  max-width: 1000px;
  margin: auto; }

.header {
  position: relative;
  padding-top: 50%;
  min-height: 500px;
  background-color: #2e246d;
  color: #fff;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .header__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    padding: 0 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .header__logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 24px;
    max-height: 70px; }
  .header__title {
    margin: 0 0 0.5em;
    line-height: 1em;
    font-size: 100px; }
  .header__social-icons {
    padding: 1em 0;
    color: #5f3082; }
    .header__social-icons:before, .header__social-icons:after {
      content: "";
      vertical-align: middle;
      display: inline-block;
      height: 1px;
      width: 150px;
      background-color: #fff; }
    .header__social-icons .iconfont {
      font-size: 16px;
      line-height: 26px; }
  .header__social {
    display: inline-block;
    margin: 0 3px; }
    .header__social a {
      display: inline-block;
      width: 26px;
      height: 26px;
      background-color: #fff;
      border-radius: 50%; }
  .header__description {
    font-weight: 300; }
  .header__demo-button {
    display: inline-block;
    margin: 20px 0;
    font-size: 0; }
    .header__demo-button img {
      max-height: 30px; }
  .header__demo-button-text {
    display: inline-block;
    padding: 0 15px;
    margin-left: -1px;
    border: 2px solid #fff;
    height: 30px;
    line-height: 26px;
    font-weight: 200; }

.advantage {
  padding: 45px 10px 30px;
  color: #555;
  background: #f7f7f7; }
  .advantage__list {
    font-size: 0; }
    .advantage__list img {
      position: relative;
      height: inherit;
      z-index: 1; }
    .advantage__list label {
      display: block;
      font-weight: bold; }
    .advantage__list span {
      font-weight: 300; }
  .advantage__item {
    position: relative;
    display: inline-block;
    padding-right: 15px; }
  .advantage__item:first-child {
    padding-right: 30px; }
    .advantage__item:first-child .advantage__icon:before {
      width: 30%;
      left: auto;
      right: 0; }
    .advantage__item:first-child .advantage__icon:after {
      right: -15px; }
  .advantage__icon {
    display: block;
    margin-bottom: 14px;
    height: 48px; }
    .advantage__icon:before, .advantage__icon:after {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1px;
      width: 100%;
      background-color: #555;
      transform: translateY(24px);
      -webkit-transform: translateY(24px);
      -moz-transform: translateY(24px);
      -ms-transform: translateY(24px); }
    .advantage__icon:after {
      top: -4px;
      left: auto;
      right: 15px;
      height: 10px;
      width: 10px;
      border-radius: 50%; }
  .advantage__logo {
    padding-right: 0; }
  .advantage__logo .advantage__icon {
    padding-left: 40px;
    height: 80px; }
    .advantage__logo .advantage__icon img {
      transform: translateY(-10%);
      -webkit-transform: translateY(-10%);
      -moz-transform: translateY(-10%);
      -ms-transform: translateY(-10%); }
    .advantage__logo .advantage__icon:before {
      width: 10%; }
    .advantage__logo .advantage__icon:after {
      top: -7px;
      left: 4%;
      right: auto;
      height: 8px;
      width: 8px;
      border: 4px solid #151b4e;
      background-color: #f5426c; }

.story-product__container {
  background-image: url(../img/story-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center; }
  .story-product__container:after {
    content: "";
    display: block;
    margin: -20px auto 0;
    border-left: 1px solid #151b4e;
    max-width: 999px;
    height: 20px; }
.story-product__description {
  padding: 14px 0;
  margin: auto;
  font-size: 12px;
  color: #827d77;
  opacity: 0.8; }

.story {
  position: relative;
  padding: 0 10px; }
  .story:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 50%;
    height: 1px;
    background-color: #f5426c; }
  .story .col-3:before {
    content: "";
    display: block;
    padding-top: 56%; }
  .story .story-product__description {
    width: 60%; }
  .story__content {
    border-bottom: 1px solid #f5426c; }
    .story__content:after {
      content: "";
      display: block;
      clear: both; }
  .story__avatar {
    position: relative;
    width: 70%;
    background: #fff;
    display: inline-block; }
  .story__article {
    padding: 50px 0 100px;
    border-right: 1px solid #f5426c; }
  .story__title {
    font-size: 0; }
  .story__title-img {
    display: inline-block;
    padding-left: 15%;
    width: 100%; }
  .story__subtitle {
    text-align: center;
    padding: 40px 0;
    margin: 0;
    color: #f5426c; }

.product {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px); }
  .product__title {
    text-align: right;
    margin-right: -40px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #151b4e; }
  .product__title-img {
    width: 50%;
    display: inline-block; }
  .product__subtitle {
    padding: 50px 0; }
  .product__subtitle-img {
    width: 30%; }
  .product__article {
    padding: 40px;
    border-left: 1px solid #151b4e; }

.lock-design {
  position: relative;
  max-width: 100%;
  overflow-x: hidden; }
  .lock-design:before {
    position: absolute;
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background-color: #f7f7f7; }
  .lock-design li {
    text-align: center;
    display: inline-block;
    width: 15%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center; }
    .lock-design li:before {
      content: "";
      display: block;
      width: 100%; }
  .lock-design .container {
    position: relative;
    padding: 40px 60px;
    border-left: 1px solid #151b4e;
    background-color: #f7f7f7;
    border-radius: 0 24px 24px 0;
    z-index: 1; }
  .lock-design__title {
    margin: 0;
    color: #555;
    font-weight: 500; }
  .lock-design__intro {
    text-align: right;
    padding: 50px 10px; }
  .lock-design li.lock-design__avatar {
    margin: 0 20px;
    width: 12%;
    background-image: url(../img/lock-design-avatar.png); }
    .lock-design li.lock-design__avatar:before {
      padding-top: 104%; }
  .lock-design__process {
    background-image: url(../img/lock-design-process1.png); }
    .lock-design__process:before {
      padding-top: 100%; }
  .lock-design__process ~ .lock-design__process {
    background-image: url(../img/lock-design-process2.png); }
  .lock-design__locker {
    position: relative;
    margin-left: 20px;
    margin-right: -10px;
    background-image: url(../img/lock-design-locker.png); }
    .lock-design__locker:before {
      padding-top: 120%; }
    .lock-design__locker:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 58%;
      height: 100%;
      background-image: url(../img/lock-design-smarter.png);
      background-size: 100% auto; }

.platform {
  position: relative; }
  .platform .container {
    border-left: 1px solid #151b4e; }
    .platform .container:after {
      content: "";
      display: block;
      clear: both; }
  .platform .col-4 {
    position: relative; }
    .platform .col-4:before {
      content: "";
      position: absolute;
      left: -1px;
      display: block;
      width: 1px;
      height: 100%;
      background-color: #151b4e; }
  .platform .col-6 {
    position: relative;
    padding-top: 24%;
    padding-bottom: 50px;
    z-index: 1; }
  .platform__bg {
    padding: 100px 0;
    margin-left: -15%;
    width: 120%; }
  .platform__title {
    padding: 10px 0;
    width: 60%; }
  .platform__subtitle {
    padding: 14px 0;
    margin: 0;
    color: #555; }
  .platform__description {
    margin: 30px 0;
    color: #827d77;
    opacity: 0.8; }

.organization {
  padding-bottom: 80px;
  background-image: url(../img/organization-bg.png);
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: right center; }
  .organization:after {
    content: "";
    display: block;
    clear: both; }
  .organization__title {
    width: 50%; }
  .organization__detail {
    padding-left: 10%; }
  .organization__subtitle {
    padding: 14px 0;
    color: #555; }
  .organization__description {
    color: #827d77;
    opacity: 0.8; }

.lorem-ipsum {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  text-align: center; }
  .lorem-ipsum__text {
    max-width: 700px;
    margin: 0 auto; }
  .lorem-ipsum__video {
    width: 100%;
    height: 500px;
    display: block;
    margin: 100px auto;
    border: 2px solid #ddd; }

.blog .blog__container {
  text-align: center;
  width: 900px;
  margin: 0 auto; }
.blog__content {
  overflow: hidden;
  position: relative;
  padding: 40px 0 20px; }
.blog__content:before, .blog__content:after {
  content: '';
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: block;
  position: absolute;
  top: 0; }
.blog__content:after {
  bottom: 0; }
.blog__img {
  float: left;
  display: inline-block;
  width: 50%;
  height: 300px;
  background: black; }
.blog__text {
  float: right;
  display: inline-block;
  width: 36%; }
.blog__title {
  max-width: 200px;
  margin: 0 auto; }
.blog__view-more-btn {
  color: red;
  cursor: pointer; }
.blog__feedback-list {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  color: #ccc; }
.blog__feedback-title {
  color: #333; }
.blog__visit {
  text-align: right; }
.blog__visit-ways {
  display: inline-block;
  padding-left: 10px; }
.blog__visit-list {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black; }

.services__container {
  width: 600px;
  margin: 0 auto;
  text-align: center; }
.services__type-line {
  width: 400px;
  height: 30px;
  display: inline-block;
  background: red; }
.services__roles {
  overflow: hidden; }
.services__role-intro {
  text-align: center;
  max-width: 200px;
  float: left; }
  .services__role-intro + .services__role-intro {
    float: right; }
.services__role-effects {
  width: 100%;
  overflow: hidden; }
.services__role-effect-list {
  width: 50%;
  display: inline-block;
  float: left; }
.services__role-effect-icon {
  width: 100%;
  display: inline-block; }

.intro {
  text-align: center; }
  .intro__team {
    width: 960px;
    margin: 0 auto; }
  .intro__team-title {
    width: 200px;
    height: 50px;
    background: violet;
    display: inline-block; }
  .intro__team-wrapper {
    width: 100%;
    font-size: 0; }
  .intro__team-list {
    display: inline-block;
    width: 20%;
    margin-left: 4%; }
  .intro__team-list-right {
    margin-right: 4%; }
  .intro__team-member-img {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 50%;
    margin: 0 auto; }
  .intro__team-member-name {
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    background: red;
    color: #fff; }
  .intro__partner {
    width: 600px;
    margin: 0 auto; }
  .intro__partner-title {
    display: inline-block;
    width: 160px;
    height: 40px;
    background: violet; }
  .intro__partner-wrapper {
    width: 100%;
    overflow: hidden; }
  .intro__partner-list {
    width: 30%;
    height: 50px;
    display: inline-block;
    margin-left: 2.5%;
    background: black;
    float: left;
    margin-bottom: 10px; }

.subscribe {
  text-align: center; }
  .subscribe__logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #555; }
  .subscribe__email {
    width: 360px;
    font-size: 0;
    margin: 0 auto; }
  .subscribe__input {
    width: 260px;
    height: 40px; }
  .subscribe__btn {
    width: 100px;
    height: 40px;
    margin-left: -2px; }

.news {
  text-align: center; }
  .news__content {
    font-size: 16px;
    max-width: 408px;
    margin: 0 auto; }
  .news__channels {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden; }
  .news__channel-list {
    display: inline-block;
    width: 20%;
    height: 40px;
    margin-left: 4%;
    float: left;
    background: black; }

.footer {
  max-width: 900px;
  margin: 0 auto; }
  .footer__above {
    border-bottom: 1px solid red;
    font-size: 0; }
  .footer__above-img {
    display: inline-block;
    width: 30%;
    height: 100px;
    margin-right: 10%;
    background: black; }
  .footer__above-contact {
    display: inline-block;
    width: 30%;
    margin-right: 10%; }
  .footer__above-follow {
    display: inline-block;
    width: 20%;
    float: right;
    max-width: 180px; }
  .footer__above-follow-ways {
    min-width: 100px; }
  .footer__above-follow-list {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: black;
    margin-left: 10px;
    margin-bottom: 10px; }
  .footer__bottom-img {
    display: inline-block;
    width: 40%;
    height: 100px;
    background: black; }
  .footer__bottom-logo {
    display: inline-block;
    width: 8%;
    height: 100px;
    margin-left: 2%;
    background: black; }

.machine {
  position: relative; }
  .machine:after {
    content: "";
    display: block;
    clear: both; }
  .machine .col-5 {
    padding: 50px 0 40px 5%; }
  .machine .col-5 ~ .col-5 {
    position: absolute;
    left: 50%;
    height: 100%;
    background-image: url(../img/machine-pic.png);
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: right center; }
  .machine__title-img {
    width: 50%; }
  .machine__subtitle {
    color: #555; }
  .machine__description {
    color: #827d77;
    opacity: 0.8; }

.communication {
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
