/* special font */
/* special color */
* {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, sans-serif;
  box-sizing: border-box;
  font-size: 14px; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

button {
  padding: 0;
  margin: 0; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

p {
  line-height: 1.4em; }

a {
  text-decoration: none;
  color: inherit; }

.text-center {
  text-align: center; }

.align-middle {
  vertical-align: middle; }

.header {
  position: relative;
  padding-top: 50%;
  min-height: 500px;
  background-color: #2e246d;
  color: #fff;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .header__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
  .header__logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 24px;
    max-height: 70px; }
  .header__title {
    margin: 0 0 0.5em;
    line-height: 1em;
    font-size: 100px; }
  .header__social-icons {
    padding: 1em 0;
    color: #5f3082; }
    .header__social-icons:before, .header__social-icons:after {
      content: "";
      vertical-align: middle;
      display: inline-block;
      height: 1px;
      width: 150px;
      background-color: #fff; }
    .header__social-icons .iconfont {
      font-size: 16px;
      line-height: 26px; }
  .header__social {
    display: inline-block;
    margin: 0 3px; }
    .header__social a {
      display: inline-block;
      width: 26px;
      height: 26px;
      background-color: #fff;
      border-radius: 50%; }
  .header__description {
    font-weight: 300; }
  .header__demo-button {
    display: inline-block;
    margin: 20px 0;
    font-size: 0; }
    .header__demo-button img {
      max-height: 30px; }
  .header__demo-button-text {
    display: inline-block;
    padding: 0 15px;
    margin-left: -1px;
    border: 2px solid #fff;
    height: 30px;
    line-height: 26px;
    font-weight: 200; }

.advantage {
  height: 200px;
  background: #ccc; }
  .advantage__list {
    margin: 0; }

.story__content {
  width: 960px;
  padding: 0 20px;
  margin: 100px auto; }
.story__left {
  display: inline-block;
  margin-right: 150px; }
.story__left-img {
  position: relative;
  width: 150px;
  height: 200px;
  background: black;
  display: inline-block; }
.story__left-img:before {
  position: absolute;
  top: -20px;
  left: 20px;
  z-index: -1;
  content: '';
  width: 150px;
  height: 200px;
  background: red;
  display: inline-block; }
.story__right {
  display: inline-block;
  width: 480px; }
.story__title {
  text-align: right; }
.story__title-img {
  width: 150px;
  height: 50px;
  background: violet;
  display: inline-block; }
.story__subtitle {
  color: red;
  text-align: center;
  margin-bottom: 40px; }

.product {
  width: 960px;
  margin: 0 auto; }
  .product__title {
    text-align: right;
    margin-bottom: 50px; }
  .product__title-img {
    width: 150px;
    height: 50px;
    background: violet;
    display: inline-block;
    margin-right: 100px; }
  .product__subtitle {
    margin-bottom: 50px; }
  .product__subtitle-img {
    width: 200px;
    height: 100px;
    background: violet;
    display: inline-block; }

.lock-design {
  width: 960px;
  margin: 0 auto; }
  .lock-design__title {
    font-weight: normal; }
  .lock-design__intro {
    margin-left: 150px; }
  .lock-design__img {
    width: 400px;
    height: 200px;
    display: inline-block;
    background: blue; }

.lorem-ipsum__video {
  width: 400px;
  height: 300px;
  display: block;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
