@media screen and (max-height: 900px) {
  /* section 6 */
  .s6 {
    &__content {
      max-width: $content-2;
    }
  }
  /* end of  section 6 */
}

@media screen and (max-height: 800px) {
  .outline-dot--lg {
    ~ .dot:nth-child(n+5) {
      display: none;
    }
  }

  /* section 6 */
  .s6 {
    &__content {
      span {
        word-wrap: break-word;
      }

      .title__2 {
        margin-bottom: 15px;
      }

      .col-4 {
        margin-bottom: 10px;
      }
    }
  }
  /* end of  section 6 */

  .s9,
  .s10,
  .s11,
  .s12 {
    &__bg-cover {
      max-width: $max-container;
    }
  }

  /* section 9 */
  .s9 {
    max-width: $max-container;

    .title__2 {
      margin-left: -15px;
    }

    .left-1 {
      margin-top: -334px;
    }
  }
  /* end of section 9 */
}

@media screen and (max-height: 700px) {
  .title{
    &__2 {
      font-size: 3.0rem;
    }

    &__3 {
      font-size: 2.0rem;
    }

    &__4 {
      font-size: 1.6rem;
    }
  }

  a, p, label {
    font-size: 1.3rem;
  }

  span {
    font-size: 1.1rem;
  }

  /* section 0 */
  .s0{
    &__content {
      .title__4 {
        max-width: 40px;
      }
    }
  }
  /* end of section 0 */

  /* section 2 */
  .s2__content {
    max-width: $content-1;
  }
  /* end of section 2*/

  /* section 4 */
  .s4 {
    &__content {
      max-width: $content-2;
    }
  }
  /* end of section 4 */

  /* section 5 */
  .s5 {
    &__content {
      h4 {
        @include autoprefixer("transform", translateY(8px));
      }

      .col-4 {
        padding-right: 0;
        padding-left: 100px;
        max-width: 360px;
      }
    }
  }
  /* end of section 5*/

  /* section 6 */
  .s6 {
    &__content {
      max-width: $content-1;
      margin-top: 50px;

      .col-4 {
        padding: 0 10px;
      }
    }
  }
  /* end of  section 6 */

  /* section 9 */
  .s9 {
    ul {
      margin: 0 7px;
    }

    li {
      line-height: 1.3em;
    }

    .left-1 {
      margin-top: -270px;
    }

    .right-2 {
      margin-top: -50px;
    }
  }
  /* end of section 9 */
}

@media screen and (max-height: 650px) {
  /* section 0 */
  .s0 {
    &__content {
      top: 14%;
    }
  }
  /* end of section 0 */

  /* section 5 */
  .s5__content {
    .col-8 {
      max-width: 60%;
    }
  }
  /* end of section 5 */

  .s6 {
    &__content {
      position: relative;
      top: 5%;
      margin-top: 0;

      .col-4 {
        padding: 0 15px;
      }
    }
  }
  /* end of  section 6 */

  /* section 8 */
  .s8 {
    &__content {
      max-width: $content-0;
    }
  }
  /* end of section 8 */

  /* section 11 */
  .s11 {
    &__form {
      top: 7%;
      max-width: $content-2;
    }
  }
  /* end of section 11 */
}

@media screen and (max-height: 600px) {
  input,
  textarea {
    font-size: 1.2rem;
  }

  input {
    min-height: 30px;
    line-height: 18px;
  }

  button {
    font-size: 1.2rem;
    min-height: 30px;
  }

  .outline-dot--lg {
    ~ .dot:nth-child(n+3) {
      display: none;
    }
  }
  /* section 7 */
  .s7 {
    &__avatar {
      width: 100px;
    }

    &__content {
      max-width: $content-0;

      .title__4 {
        max-width: 150px;
      }
    }
  }
  /* end of section 7 */

  /* section 8 */
  .s8 {
    &__content {
      max-width: $content-2;
    }
  }
  /* end of section 8 */

  /* section 10 */
  .s10 {
    &__form-group {
      min-height: 42px;
    }
  }
  /* end of section 10 */
}

@media screen and (max-height: 550px) {
  a, p, label {
    font-size: 1.2rem;
  }

  .top-dot__container {
    display: none;
  }

  /* section 0 */
  .s0 {
    &__title {
      width: 40%;
    }

    &__benifits {
      padding: 10px 0;
    }

    &__benifits li {
      label {
        margin: 10px auto 5px;
        font-size: 1.2rem;
      }

      span {
        font-size: 1.0rem;
      }
    }
  }
  /* end of section 0 */

  /* section 1 */
  .s1{
    &__people {
      max-width: 180px;
    }

    &__link {
      max-width: 50px;
    }
  }
  /* end of section 1 */

  /* section 5 */
  .s5 {
    &__content {
      .col-8 {
        max-width: 50%;
      }
    }
  }
  /* end of section 5 */

  /* section 6 */
  .s6__content {
    top: auto;
  }
  /* end of section 6 */

  /* section 9 */
  .s9 {
    li {
      font-size: 1.1rem;
    }

    .left-1 {
      margin-top: -230px;
    }

    .left-2 {
      margin-top: -84px;
    }

    .right-2 {
      margin-top: -65px;
    }
  }
  /* end of section 9 */
}

@media (max-width: 1024px) and (orientation: portrait) {
  body {
    min-width: 0;
  }
}