.header {
	min-height: 500px;
	color: $white;
	background-image: url(../img/header-bg.png);
	background-repeat: no-repeat;
	background-size: cover;

	&__logo {
		padding: 30px;
	}

  &__title {
		font-size: 60px;
		text-align: center;
	}

	&__contact {
		text-align: center;

		&-list {
			background: #fff;
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}

		&-line-left,
		&-line-right {
			width: 100px;
			height: 1px;
			border-radius: 0;
			margin-right: 20px;
		}

		&-line-right {
			margin-left: 20px;
		}
	}

	&__description {
		text-align: center;
	}

  &__visit {
		background: transparent;
		border: 2px solid #fff;
		display: block;
		margin: 0 auto;
  }

  &__visit-btn {
		color: #fff;
		font-size: 14px;
		padding-right: 16px;
		height: 40px;

		&:before {
			content: 'SITE';
			background: #fff;
			color: rgba(0, 0, 0, 7.5);
			width: 100px;
			height: 40px;
			display: inline-block;
			text-align: center;
			line-height: 36px;
			font-size: 23px;
			margin-right: 16px;
		}
	}
}