.platform {
  position: relative;
  padding: 0 10px;

  .container {
    border-left: 1px solid $blue;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .col-4 {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: -1px;
      display: block;
      width: 1px;
      height: 100%;
      background-color: $blue;
    }
  }

  .col-6 {
    position: relative;
    padding-top: 24%;
    padding-bottom: 50px;
    z-index: 1;
  }

  &__bg {
    padding: 100px 0;
    margin-left: -15%;
    width: 120%;
  }

  &__title {
    padding: 10px 0;
    width: 60%;
  }

  &__subtitle {
    padding: 14px 0;
    margin: 0;
    color: $gray;
  }

  &__description {
    margin: 30px 0;
    color: $light-gray;
		opacity: 0.8;
  }
}