.story {
	min-height: 500px;

	&__content {
		margin-top: 100px;
	}

	&__left {
		display: inline-block;
		margin-right: 150px;
	}

	&__left-img {
		position: relative;
		width: 150px;
		height: 200px;
		background: black;
		display: inline-block;
	}

	&__left-img:before {
		position: absolute;
		top: -20px;
		left: 20px;
		z-index: -1;
		content: '';
		width: 150px;
		height: 200px;
		background: red;
		display: inline-block;
	}

	&__right {
		display: inline-block;
		width: 480px;
	}

	&__title {
		text-align: right;
	}

	&__title-img {
		width: 150px;
		height: 50px;
		background: violet;
		display: inline-block;
	}

	&__subtitle {
		color: red;
		text-align: center;
		margin-bottom: 40px;
	}
}