.services {
  padding: 0 10px;
  color: $white;

  h3 {
    margin: 0;
  }

  h4 {
    font-size: $big-font;
    font-weight: $font-weight-normal;
  }

  .col-3 {
    margin: 0 10%;
  }

  .sub-container {
    border: 1px solid $pink;
    background-color: $white;

    transform: translate(20px, 20px);
    -webkit-transform: translate(20px, 20px);
    -moz-transform: translate(20px, 20px);
    -ms-transform: translate(20px, 20px);
  }

  .sub-container &__detail {
    position: relative;
    padding: 10% 0;
    background-color: $blue;

    transform: translate(-20px, -20px);
    -webkit-transform: translate(-20px, -20px);
    -moz-transform: translate(-20px, -20px);
    -ms-transform: translate(-20px, -20px);

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 20px;
      padding-top: 12%;
      width: 50%;

      background-image: url(../img/service-pic.png);
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 80% auto;

      transform: translateX(-5%);
      -webkit-transform: translateX(-5%);
      -moz-transform: translateX(-5%);
      -ms-transform: translateX(-5%);
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__title {
    margin: 10px 0 60px;
    font-size: $title-bigger-font;
  }

  &__type-line {
    display: block;
    margin: auto;
    width: 30%;
    padding-top: 8%;

    background-image: url(../img/service-line.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left center;
  }

  &__roles {
    width: 60%;
    margin: auto;

    span {
      display: block;
      margin: 10px 0 15px;
      min-height: 30px;
    }
  }

  &__role-effect-icon {
    width: 100%;
  }
}