.intro {
  padding: 0 10px;
  margin: 50px 0;

  .container {
    position: relative;
    font-size: 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      display: block;
      width: 1px;
      height: 100%;
    }

    &:before {
      top: 15%;
      left: 1%;
      background-color: $pink;
    }

    &:after {
      top: 18%;
      right: 1.8%;
      background-color: $blue;
    }
  }

  .container ~ .container {
    &:before,
    &:after {
      top: 0;
    }
  }

  &__bottom-line {
    position: absolute;
    width: 80%;
    height: 14px;

    &.pink {
      bottom: -14px;
      left: 1%;
      border-bottom: 1px solid $pink;
      border-left: 1px solid $pink;
    }

    &.blue {
      bottom: 0;
      right: 1.8%;
      border-bottom: 1px solid $blue;
      border-right: 1px solid $blue;
    }
  }

  &__team-title {
    width: 100%;
  }

  &__team-wrapper {
    padding: 70px 0;
    font-size: 0;
  }

  &__team-item {
    display: inline-block;
    margin-bottom: 30px;
    /* width: 25%; */
    width: 33.333333%;

    a {
      display: inline-block;
    }

    a ~ a {
      display: block;
      margin: 15px auto 5px;
      width: 120px;
    }
  }

  &__team-item-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid $pink;
    border-radius: 50%;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

    &.wang {
      background-image: url(../img/team-wangyue.jpg);
    }

    &.cai {
      background-image: url(../img/team-cai.jpg);
    }
    &.lin {
      background-image: url(../img/team-brainLin.jpg);
    }
    &.l-jun {
      background-image: url(../img/team-cai.jpg);
    }
    &.tao {
      background-image: url(../img/team-cai.jpg);
    }
    &.zhong {
      background-image: url(../img/team-christie.jpg);
    }
    &.e {
      background-image: url(../img/team-e.jpg);
    }
    &.dw-jun {
      background-image: url(../img/team-eric.jpg);
    }
  }

  &__team-item-name {
    display: block;
    padding: 5px 0;
    width: 100%;
    color: $white;
    background-color: $pink;
    font-style: normal;
  }

  &__team-item-title {
    color: $light-gray;
    font-weight: $font-weight-normal;
  }

  &__partner-container {
    position: relative;
    padding: 70px 0;
  }

  &__partner-title {
    margin-bottom: 50px;
    width: 25%;
  }

  &__partners {
    margin: auto;
    width: 70%;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__partner {
    float: left;
    padding: 0 5%;
    margin: 5px 0;
    width: 33.333333%;

    a {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  &__partner:first-child img {
    padding: 10px 0;
  }

  &__divider {
    width: 50%;
    padding-top: 7%;
    margin-left: 50%;

    background-image: url(../img/team-pic.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
  }
}