.services {
  padding: 0 10px;

  &__type-line {
    width: 400px;
    height: 30px;
    display: inline-block;
    background: red;
  }

  &__roles {
    overflow: hidden;
  }

  &__role-intro {
    text-align: center;
    max-width: 200px;
    float: left;

    & + & {
      float: right;
    }
  }

  &__role-effects {
    width: 100%;
    overflow: hidden;
  }

  &__role-effect-list {
    width: 50%;
    display: inline-block;
    float: left;
  }

  &__role-effect-icon {
    width: 100%;
    display: inline-block;
  }


}