.lorem-ipsum {
  position: relative;
  padding: 0 10px;

  iframe {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__title {
    margin: 60px 0 0;
    color: $gray;
  }

  &__hint {
    max-width: 700px;
    margin: 40px auto;
    line-height: 1.3em;
    color: $light-gray;
		opacity: 0.8;
  }

  &__video {
    position: relative;
    width: 100%;
    padding-top: 60%;
    background-color: $lightter-gray;
  }
}