.lock-design {
  .container {
    border-left: 1px solid $blue;
  }

  &__title {
    margin: 0;
  }

  &__intro {
    margin-left: 150px;
  }

  &__img {
    width: 400px;
    height: 200px;
    display: inline-block;
    background: blue;
  }
}