$small-font: 12px;
$main-font: 14px;
$big-font: 16px;
$bigger-font: 18px;
$title-font: 20px;
$title-big-font: 24px;
$title-bigger-font: 30px;

$font-weight-bold: 500;
$font-weight-normal: 300;
$font-weight-light: 200;

$white: #fff;
$gray: #555;
$light-gray: #827d77;
$lightter-gray: #f7f7f7;
$pink: #f5426c;
$blue: #151b4e;
$purple: #5f3082;

/* special font */
$heaer-title-font: 100px;

/* special color */
$header-bg-color: #2e246d;