* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: #fff;
  font-family: Calibri, "PT Sans", "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
}

#fp-nav ul li .fp-tooltip {
  font-family: "Helvetica Rounded CondensedBd", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-opacity {
  opacity: 0.7;
}

/* Overwrite fullpage.js */
.fp-slidesNav ul li:hover a span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
#fp-nav ul li:hover a span,
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
#fp-nav ul li a span {
  margin: -5px 0 0 -5px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.5;
}

.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span {
  opacity: 1;
}

#fp-nav ul li .fp-tooltip {
  font-size: 12px;
}
/* end of Overwrite fullpage.js */