@import 'var';

* {
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, sans-serif;
	box-sizing: border-box;
	font-size: $main-font;
}

body {
	margin: 0;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

button {
	padding: 0;
	margin: 0;
}

h2 {
	font-size: $title-big-font;
}


h3 {
	font-size: $title-font;
}

p {
	line-height: 1.4em;
}

label {
	font-size: $main-font;
}

span {
	font-size: $small-font;
}

a {
	text-decoration: none;
	color: inherit;
}

.text-center {
	text-align: center;
}

.align-middle {
	vertical-align: middle;
}

.align-top {
	vertical-align: top;
}

.col-3 {
	float: left;
	width: 30%;
}

.col-4 {
	float: left;
	width: 40%;
}

.col-5 {
	float: left;
	width: 50%;
}

.col-6 {
	float: left;
	width: 60%;
}

.col-7 {
	float: left;
	width: 70%;
}

.container {
	max-width: 1000px;
	margin: auto;
}

@import 'header';
@import 'section-advantage';
@import 'section-story-product';
@import 'section-lock-design';
@import 'section-platform';
@import 'section-organization';
@import 'section-lorem-ipsum';
@import 'section-blog';
@import 'section-services';
@import 'section-team-member';
@import 'section-subscribe';
@import 'section-our-news';
@import 'footer';
@import 'section-machine';
@import 'section-communication';